@import "imports/fonts";

body{
    font-family: Muller, sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #000;
}

.header__container{
    display: block;
    width: 100%;
    min-height: 100vh;

    
    background-image: url('../img/ny-background-img.png');
    background-size: cover;
    background-position: center 0;
}
.header__nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding-top: 4vh;
    margin: 0 auto;
}

.header__logo-container{
    width: 15%;
    min-width: 180px;
}
.header__logo-container img{
    width: 100%;
}

.header__phone-wrapper{
    a{
        position: relative;
        font-size: 1em;
        font-family: inherit;
        font-weight: 800;
        text-decoration: none;
        color: #ffffff;
        display: flex;
        align-items: center;
    }
    a:hover{
        color: #ffffff;
    }
    a:visited{
        color: #ffffff;
    }
    a svg{
        width: calc(1em + 4px);
        margin-right: 10px;
        transform: translateY(-2px);
    }
    a span{
        position: relative;
        z-index: 5;
    }
    a span:before{
        content: '';
        position: absolute;
        bottom: 0;
        z-index: -1;
        display: block;
        width: 100%;
        height: 0.5em;
        background-color: #00CA9D;
        transition: height 0.2s;
    }
    a span:hover:before{
        height: 0;
    }
}

.header__content-container{
    width: calc(100% / 3 * 2);
    margin: 0 auto;
}

.header__content-title{
    margin: 0;
    margin-top: 20vh;
    font-size: 56px;
    font-weight: normal;
    line-height: 100%;
    color: #ffffff;
}

.header__content-text{
    width: 68%;
    margin: 0;
    margin-top: 3vh;
    font-weight: normal;
    line-height: 155%;

    color: #ffffff;
}

.header__content-button,
.action__button{
    margin-top: 7vh;
    // height: 70px;
    padding: 20px 35px;
    color: #ffffff;
    background-color: #00CA9D;
    border: none;
    border-radius: 35px;
    cursor: pointer;

    outline: none;
}
.action__button:hover,
.header__content-button:hover{
    background-color: darken(#00CA9D, 10%);
}
.action__button:active,
.header__content-button:active{
    background-color: darken(#00CA9D, 20%);
}

.header__arrow-wrapper{
    display: block;
    margin-top: 10vh;
    text-align: center;

}
@media screen and (min-width: 1440px){
    .header__phone-wrapper a{ font-size: 1.5em;}
    
}




.section-numers{
    position: relative;
    display: block;
    width: 100%;
    background-image: url('../img/kisspng-blue-spruce-tree.png');
    background-position: right 100px;
    background-repeat: no-repeat;
    background-size: 35%;
}

.section-numers__decor{
    position: absolute;
    top: -1%;
    right: 5%;
    width: 30%;
    z-index: -1;
    svg{
        width: 100%;
    }
}

.section-numers__container{
    display: flex;
    width: calc(100% / 3 *  2);
    margin: 0 auto;
    padding-top: 100px;
}
.section-numers__container:nth-child(2n){
    padding: 0;
    // margin-top: 45px;
}

.section-numers__content{
    display: inline-block;
    width: 66%;
}
.section-numbers__special-container{
    display: flex;
    justify-content: flex-end;
    width: calc(100% - 66%);
    text-align: right;
}
.numers__title{
    position: relative;
    margin-top: 0;
    font-size: 2em;
   &:after{
    content: '';
    position: absolute;
    bottom: -30px;
    display: block;
    width: 110px;
    height: 2px;
    background-color: #000000;
   }
}

.numers__subtitle{
    display: block;
    margin-top: 70px;
    font-weight: 500;
}
.numers__text{
    margin: 0;
    margin-top: 1em;
    color: rgba(0,0,0,0.6);
    line-height: 180%;
}

.numers__categories{
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.numers__categories-column{
    width: calc(100% / 3);
    padding-top: 40px;
}

.numers__category-title{
    // margin-top: 40px;
    font-size: 0.8em;
    text-transform: uppercase;
    line-height: 1;
    padding: 7px 10px 4px;
    border: 1px solid #000;
    border-radius: 3px;
}


.numers__category-title.green{
    color: #00A9A2;
    border-color: #00A9A2;
}
.numers__category-title.red{
    color: #CA0031;
    border-color: #CA0031;
}
.numers__category-title.violet{
    color: #660992;
    border-color: #660992;
}

.numers__category-title.red.last{
    display: inline-block;
    margin-top: 1.3em;
}

.numers__category-text{
    margin-top: 1.3em;
    font-size: 0.9em;
    line-height: 220%;
}


.numbers__special{
    position: relative;
    display: block;

    &:before{
        content: '';
        position: absolute;
        top: -0.9em;
        left: -1.4em;
        display: block;
        width: 1em;
        height: 1em;
        background-color: #CA0031;
        border-radius: 50%;
    }
}


.numbers__special-title{
    display: block;
    font-weight: 500;
    text-align: left;
}
.numbers__special-text{
    display: block;
    margin-top: 0.7em;
    font-size: 0.9em;
}

.section-slider{
    position: relative;
    padding-top: 80px;
}


.slider__prev{
    position: absolute;
    left: 5%;
    top: calc(50% + 3.5vw / 2);
    width: 3.5vw;
    z-index: 1;
}
.slider__next{
    position: absolute;
    right: 5%;
    top: calc(50% + 3.5vw / 2);
    width: 3.5vw;
    z-index: 1;
}


.section-night{
    position: relative;
    display: block;
    width: 100%;
    padding-bottom: 100px;
    overflow: hidden;
    // border-bottom: 2px solid #979797;
    &:after{
        content: '';
        position: absolute;
        bottom: 0;
        right: 50%;
        transform: translateX(50%);
        display: block;
        width: 80%;
        height: 2px;
        background-color: #e0e0e0;
    }
}

.section-night__container{
    display: flex;
    flex-direction: column;
    width: calc(100% / 3 * 2);
    margin: 0 auto;
    padding-top: 70px;
}

.section-night__container:nth-child(2n){
    // background-color: red;
    flex-direction: row;
}

.section-night__content{
    display: block;
    width: 80%;
    justify-content: flex-start;
}

.night__subtitle{
    display: block;
    font-weight: 500;
}
.night__text{
    // width: 60%;
    margin: 0;
    margin-top: 1em;
    color: rgba(0, 0, 0, 0.6);
    line-height: 180%;
}

.night__prices{
    display: block;
    margin-top: 2em;
    line-height: 220%;
}

.night__special{
    position: relative;
    margin-left: 100px;

    &:before{
        content: '';
        position: absolute;
        top: -0.9em;
        left: -1.4em;
        display: block;
        width: 1em;
        height: 1em;
        background-color: #CA0031;
        border-radius: 50%;
    }
}

.night__special-title{
    font-size: 1.1em;
    font-weight: 500;
}

.night__special-line{
    display: flex;
    align-items: center;
    margin-top: 2em;
    
    &:last-child{
        margin-top: 1em;
    }
}

.night__special-percents{
    color: #00CA9D;
    font-size: 2.5em;
    font-weight: 800;
    margin-right: 10px;
}

.night__special-decor{
    position: absolute;
    top: -70%;
    left: -25%;
    width: 30vw;
    min-width: 430px;
    z-index: -1;

    svg{
        width: 100%;
    }
}

.section-action{
    display: block;
    padding-top: 45px;
    padding-bottom: 100px;
}
.action__button{
    display: block;
    margin: 0 auto;
}

footer{
    display: flex;
    justify-content: space-between;
    // align-items: center;
    width: 90%;
    margin: 0 auto 20px;
}
.footer__copyright{
    .footer__copyright-text{
        font-family: Circe, sans-serif;
        font-size: 0.8em;
        color: #898989;
    }
}

.footer__links{
    display: flex;
    align-items: center;
    font-weight: 600;
    .footer__link-main{
        position: relative;
        text-decoration: none;

        &:active{color:#000000;}
        &:visited{color:#000000;}
        &:hover{color: lighten(#000000, 30%);}
        &:before{
            content: '';
            position: absolute;
            left: -30px;
            top: -6px;
            width: 24px;
            height: 24px;
            background-image: url(../img/icon-globus.svg);
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
    .footer__link-tel{
        position: relative;
        margin-left: 5vw;
        text-decoration: none;
        color: #000000;

        &:active{color:#000000;}
        &:visited{color:#000000;}
        &:hover{color: lighten(#000000, 30%);}

        &:before{
            content: '';
            position: absolute;
            left: -30px;
            top: -6px;
            width: 24px;
            height: 24px;
            background-image: url(../img/icon-phone-dark.svg);
            background-repeat: no-repeat;
            background-size: contain;

        }
        
    }
}

.footer__developer{
    .footer__developer-text{
        font-family: Circe, sans-serif;
        font-size: 0.8em;
        color: #898989; 
    }
}



@media screen and (max-width: 1200px){
    .section-numers__container{ width: 80%;}
    .section-night__container{ width: 80%;}
}

@media screen and (max-width: 1024px){
    .section-numers__container{ width: 90%;}
    .section-night__container{ width: 90%;}

    .section-numers{ background-position: right 130px;}
}

@media screen and (max-width: 960px){
    .section-numers{ background-image: url(../img/kisspng-blue-spruce-tree-opacity.png);}
    .numbers__special{ margin-top: 40px;}
    .numers__categories{ width: 100%;}
    .numers__categories-column{ width: unset;}

    .night__special-decor{  top:-65%; left: -35%;}
    footer{width: 95%;}
    .footer__copyright{max-width: 140px;}
    .footer__developer{ max-width: 130px; text-align: right;}
}

@media screen and (max-width: 810px){
    .section-numers__content{ width: 70%;}
    .section-numbers__special-container{ width: 30%; margin-left: 5%;}
    .numbers__special-text{
        width: 66%;
        text-align: left;
        line-height: 155%;
    }

}

@media screen and (max-width: 720px){
    .header__content-title{ margin-top: 10vh; font-size: 3em; }
    .numbers__special-text{ width: 80%;}
    .footer__links{
        font-size: 0.7em;
        .footer__link-main:before,
        .footer__link-tel:before{
            width: 20px;
            height: 20px;
            left: -24px;
        }
    }

}

@media screen and (max-width: 640px){
    .header__content-container{ width: 90%; }
    .header__logo-container{ min-width: 120px;}
    .header__phone-wrapper a { font-size: 0.9em; }
    .header__content-title{ font-size: 2em; }
    .header__content-text{ width: unset; font-size: 0.9em;}
    .section-numers__container{ 
        display: flex;
        flex-direction: column;
        padding-top: 60px;
    }
    .section-numers__content{ width: 100%; }
    .section-numbers__special-container{ width: 90%; margin-left: 7%; justify-content: flex-start;}
    .numbers__special{
        margin-top: 70px;
        margin-bottom: 10px;
    }
    .section-numers__decor{ width: 48%; top: 21%; right: 66%;}
    // .numbers__special-title br{ display: none; }
    .numbers__special-text{ width: 100%; }

    .numers__categories{ flex-direction: column; align-items: center;}
    .numers__categories-column{ text-align: center;}
    .section-slider{ padding-top: 0; margin-top: 30px;}
    .slider__prev,
    .slider__next{
        width: 5vw;
        top: calc(50% - 5vh / 4);
    }

    .section-night__container:nth-child(2n){ flex-direction: column;}
    .night__special{  margin-top: 40px; margin-left: 7%;}
    .night__special-decor{ top: -88%; left: -27%; min-width: 340px;}

    footer{ margin-bottom: 10px;}
    .footer__copyright{ max-width: 110px; font-size: 0.75em;}
    .footer__link-main{ display: none; }
    .footer__developer{ max-width: 95px; font-size: 0.75em; }
} //media mw640


// @media screen and (max-width: 480px){}





@import "imports/popup";
